osx_image: xcode8.3
sudo: required
dist: trusty
language: c
matrix:
  include:
  - os: osx
  - os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1
    compiler: clang
cache:
  directories:
  - node_modules
  - "$HOME/.electron"
  - "$HOME/.cache"
addons:
  apt:
    packages:
    - libgnome-keyring-dev
    - icnsutils
before_install:
- mkdir -p /tmp/git-lfs && curl -L https://github.com/github/git-lfs/releases/download/v1.2.1/git-lfs-$([
  "$TRAVIS_OS_NAME" == "linux" ] && echo "linux" || echo "darwin")-amd64-1.2.1.tar.gz
  | tar -xz -C /tmp/git-lfs --strip-components 1 && /tmp/git-lfs/git-lfs pull
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install --no-install-recommends
  -y libasound2-dev icnsutils graphicsmagick xz-utils; fi
install:
- nvm install 8
- curl -o- -L https://yarnpkg.com/install.sh | bash
- source ~/.bashrc
- npm install -g xvfb-maybe
- yarn
script:
- yarn run build
branches:
  only:
  - master
deploy:
  provider: releases
  api_key:
    secure: VFPRFrx5U4jjf5tLB0yHkBrqumV7nc+K3jo7nJmvC7NTOTF7k12SAAJymJp1Zqebjp6H9I5Qe9qUOBAfTm5AxvuFWHA7bHz4SGoW5UbMIvd/D6WkHXMokNOMUvWfRADlj3JYrQ9zNb5NxGPZThqdg45A5LnTQbEq2/Yfoaj7kyVaBS0aFyKR/s6y6wX3NRxxFAucz8bnMyfScwha/dshn6BGyMZEUBdvvCi32iAskTEZIBo2SZV1JvljV9vFBeir3LSKuGoWMIBrCl2TSGilDzYnTbYWZZu/amYniHdPbyNe6La/A5hZ/e/I1DQpd5XZ6q+mO5iUvr+xNzbQW1hWi6/ccsjsY5HvH4xfjyydqE0lufPMmloLMbcBlV1xtbBK+lbiUp5TvKWsAnMUSOIQDzx5zM7KONDfEF134vy9ZBdcXS+LkHz2qxchHtYo6FnD2S3F5NYA+lFu4llN3zFObDwsjC91jbwn6nAT4pDBTqxP74gsyYpprVw+MC39M7lm2YxbFY3mWaz3XlBlBm3u5xqV8aeqC/YB7Bqi8Wc9kxkLIvwQwjMwDYbQqI8AOhxr9iqa5vQoohuc5xy5ivG/fy3CiK+G6qmbH06Dvd4eBNy7NKSUi/VGddCksBK8yQz+C8moCuntszfGRUISWLIAohdW+OyPeDrLII7+uZHUsKI=
  file: "${RELEASE_PKG_FILE}"
  skip_cleanup: true
  overwrite: true
  if: tag =~ /^v\d+(\.\d+)+$/
  branches:
    only:
      - master
      - /^v\d+(\.\d+)+$/
  on:
    repo: romainlp/Radio-Nova
    tags: true
